extends layout 

block content
  div(class='cardContainer')
    div(class='grid')
      div(class='third')
        div(class='card')
          p(class='largeText') Stats
            div(class='rounded')
              p Athletics: -2
            br
            div(class='rounded')
                p Athletics: -2
            br
            div(class='rounded')
              p Athletics: -2
            br
            div(class='rounded')
              p Athletics: -2
            br
            div(class='rounded')
              p Athletics: -2
            br
            div(class='rounded')
              p Athletics: -2
            br

      div(class='third')
        div(class='card')
          p(class='largeText') Skrank
          p image goes here
          img(class='imgSizing' src='/images/test.jpg')
          br
          
      div(class='third')
        div(class='card')
          p(class='largeText') Features
          p uhh stuff
            div(class='rounded')
              p Error getting dynamic content.
              p features ul
              ul
                li there are no customers I guess
            br
            div(class='rounded')
              p class traits
            br
            div(class='rounded')
              p background traits
            br