extends layout 

block content
  div(class='cardContainer')
    div(class='grid')
      div(class='third')
        div(class='card')
          p(class='largeText') Stats
            div(class='rounded')
              div(class='stats')
                p Strength 
                  ul 
                    li Athletics: 
            br
            div(class='rounded')
              div(class='stats')
                p Dexterity 
                  ul 
                    li Arobatics: 
            br
            div(class='rounded')
              div(class='stats')
                p Constitution
                  ul 
                    li gonna have the skills listed here: 
            br
            div(class='rounded')
              div(class='stats')
                p Intelligence
                  ul 
                    li Arcana: 
            br
            div(class='rounded')
              div(class='stats')
                p Wisdom
                  ul 
                    li Animal Handling: 
            br
            div(class='rounded')
              div(class='stats')
                p Charisma
                  ul 
                    li Deception: 
            br

      div(class='third')
        div(class='card')
          p(class='largeText charName') Skrank
          p(class='charName') image goes here
          img(class='imgSizing' src='/images/test.jpg')
          p(class='charInfo') more stats, hp, init, ac
          br
          
      div(class='third')
        div(class='card')
          p(class='largeText') Features
            div(class='stats')
              div(class='rounded')
                p Error getting dynamic content.
                p features ul
                ul
                  li there are no customers I guess
              br
              div(class='rounded')
                p class traits
                ul 
                  li stuff
              br
              div(class='rounded')
                p background traits
                ul 
                  li more stuff
              br