doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navbar 
      div(class='navbar')
        ul
          li
            a(href='/') Home
          li
            a(href='/catalog/customers') All customers
          li
            a(href='/catalog/customers_list') Customer List
          li
            a(href='/catalog/genres') All genres
          li 
            a(href='/wiki') Wiki 
          li 
            a(href='/wiki/about') About this
    div(class='container')
      block content
  footer
    p © #{new Date().getFullYear()} Ronyn.cx