doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://use.fontawesome.com/releases/v5.7.1/css/all.css")
    block navbar 
      div(class='navbar')
        ul
          li
            a(href='/') Home
          li 
            a(href='/CharacterInfo/') Character Info
          li
            a(href='/CharacterInfo/create') Create a Character
          li 
            a(href='/CharacterInfo/about') About this
          li(class='loginButton') 
            a(href='/Login') Log in
  body
      block content
  footer
    div(class='footerbar')
      p © #{new Date().getFullYear()} Ronyn.cx