extends layout 

block content

  h1 Skills for: #{title}

  form(method='POST' action='' enctype='multipart/form-data')
    div(class='inputCard')
      div(class='inputContainer')
        label(for='CharID') Character ID:
        input#CharID(type='text', name='CharID' readonly, value=char_info.CharID)
        div(class='skillForm')
          label(class='container' for='Acrobatics') Acrobatics
            input(type='checkbox' id='Acrobatics' name='Acrobatics' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='AnimalHandling') Animal Handling
            input(type='checkbox' id='AnimalHandling' name='AnimalHandling' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Arcana') Arcana
            input(type='checkbox' id='Arcana' name='Arcana' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Athletics') Athletics
            input(type='checkbox' id='Athletics' name='Athletics' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Deception') Deception
            input(type='checkbox' id='Deception' name='Deception' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='History') History
            input(type='checkbox' id='History' name='History' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Insight') Insight
            input(type='checkbox' id='Insight' name='Insight' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Intimidation') Intimidation
            input(type='checkbox' id='Intimidation' name='Intimidation' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Investigation') Investigation
            input(type='checkbox' id='Investigation' name='Investigation' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Medicine') Medicine
            input(type='checkbox' id='Medicine' name='Medicine' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Nature') Nature
            input(type='checkbox' id='Nature' name='Nature' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Perception') Perception
            input(type='checkbox' id='Perception' name='Perception' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Performance') Performance
            input(type='checkbox' id='Performance' name='Performance' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Persuasion') Persuasion
            input(type='checkbox' id='Persuasion' name='Persuasion' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Religion') Religion
            input(type='checkbox' id='Religion' name='Religion' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='SleightofHand') Sleight of Hand
            input(type='checkbox' id='SleightofHand' name='SleightofHand' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Stealth') Stealth
            input(type='checkbox' id='Stealth' name='Stealth' value='1')
            span(class='checkmark')
        div(class='skillForm')
          label(class='container' for='Survival') Survival
            input(type='checkbox' id='Survival' name='Survival' value='1')
            span(class='checkmark')
      
      div(class='inputContainer')
        button(type='submit' class='buttonStyle') Submit

  if errors
    div(class='inputCard')
      div(class='inputContainer')
        p Errors: 
        ul
          each error in errors
            li!= error.message