body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
div.navbar {
  padding: 0px;
}
div.navbar li {
  float: left;
}
div.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
div.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width:100%;
}
/* Change the link color to #111 (black) on hover */
div.navbar li a:hover {
  background-color: #111;
}
div.container {
  padding: 15px;
}
footer {
  padding: 15px;
}