/*
colors:
  Links #65350F
  Rounded #f1f1f1
  Background #9e9e9e
  Card #757575
  Footer #333
  Button #ebd8c6
*/

@font-face {
  font-family: Draconis;
  src: url(../Draconis-JRw6B.ttf);
}

body {
  padding: 0px;
  margin: 0px;
  font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #9e9e9e;
}

a {
  color: #000;
}

div.navbar {
  padding: 0px;
  width: 100%;
}

div.navbar li {
  float: left;
}

div.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.navbar ul {
  font-size: 14pt;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

div.navbar li a:hover {
  background-color: #111;
}

div.rounded li {
  list-style-type: none;
  line-height: 16pt;
}

div.features li a,
div.features a {
  text-decoration: none;
  color: #65350F;
}

div.stats ul {
  padding-left: 15px;
}

div.stats p {
  font-size: 16px;
}

div.container {
  padding: 15px;
}

div.cardContainer {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  position: relative;
  box-sizing: inherit;
}

div.grid {
  content: "";
  clear: both;
  position: relative;
  box-sizing: inherit;
  padding-left: 10px;
}

div.third {
  width: 33.33333%;
  padding: 0px;
  position: relative;
  float: left;
  box-sizing: inherit;
}

div.card {
  color: #757575;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  float: left;
  position: relative;
  width: 90%;
  box-sizing: inherit;
  margin-bottom: 70px;
}

footer {
  padding: 0px;
  width: 100%;
  background-color: #333;
  color: #FFF;
  font-size: 14pt;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  height: 60px;
}

.footerbar {
  padding-left: 10px;
}

.largeText {
  font-size: 18px;
}

div.rounded {
  color: #000;
  background-color: #f1f1f1;
  border-radius: 16px;
  padding: 5px 0px 2px 10px;
  font-size: 12pt;
}

.imgSizing {
  width: 100%;
}

.charInfo {
  text-align: center;
}

.charName {
  text-align: right;
}

.boldInfo {
  font-weight: bold;
}

.coolFont {
  font-family: Draconis;
  font-size: 36px;
  color: #000;
  padding: 0px;
}

div.inputCard {
  width: 600px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  position: relative;
  box-sizing: inherit;
  background-color: #FFF;
  margin-bottom: 70px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.buttonStyle {
  background-color: #ebd8c6;
  border: none;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 999;
  transition-duration: 0.4s;
  font-size: 12pt;
}

.buttonStyle:hover {
  background-color: #FFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.uploadButton {
  padding: 5px;
}

.rightLabel {
  padding: 10px;
}

.leftLabel {
  padding:10px;
  padding-bottom:20px;
}

.dropdownStyle {
  padding:5px;
  border:none;
  float:right;
  background-color:#ebd8c6;
  color:#000;
}

div.statContainer {
  width:35%; 
  position:relative; 
  display:inline-block;
}
div.inputContainer {
  padding:10px;
}